@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative");

.stormwind-container {
    h1{
        font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
    }
    .para-one {
        background: url('./components/Stormwind/stormwind4.jpg');
        background-attachment: fixed;
        height: 100vh;
        background-size: cover;
        img {
            width: 50vw;
            right: 2vw;
            top: -10vh;
            position: absolute;
        }
    }
    .para-two {
        background: #501005;
        padding: 10px 0;
        color: white;
        background: linear-gradient(60deg, #501005, #FBC938, #F8201E);
        background-size: 600% 600%;
        -webkit-animation: StormwindGradient 30s ease infinite;
        animation: StormwindGradient 20s ease infinite;
        @-webkit-keyframes StormwindGradient {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes StormwindGradient { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        img {
            width: 70vw;
        }
    }
    .para-three {
        background: url('./components/Stormwind/stormwindmap.jpg');
        background-attachment: fixed;
        background-size: cover;
        padding: 7vh 7vw;
        h3 {
            font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
        }
        .sw-history{
            background: rgba(255,255,255,0.75);
            color: black;
            padding: 15px;
            width: 30vw;
            border-radius: 5px;
        }
    }
    .para-four {
        background:url('./components/Stormwind/texture.jpg');
        background-size: 25vh;
        height: 7vh;
        padding: 9vh 0;
        color: white;
        font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
    }
    .para-five {
        background: url('./components/Stormwind/stormwind1.jpg');
        background-attachment: fixed;
        height: 100vh;
        background-size: cover;
    }
    h1{
        color: white;
    }
}