@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative");

.planes-container {
    .para-one {
        background: url('./components/Planes/planesheader.jpg');
        background-attachment: fixed;
        height: 75vh;
        background-size: cover;
        img {
            height: 50vh;
            margin: auto;
            margin-top: 10vh;
        }
    }
    .gradient-header {
        background: #501005;
        padding: 10px 0;
        color: white;
        background: linear-gradient(60deg, #9C47A4, #982819, black, #4F834F);
        background-size: 600% 600%;
        -webkit-animation: PlanerGradient 20s ease infinite;
        animation: PlanerGradient 20s ease infinite;
        @-webkit-keyframes PlanerGradient {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes PlanerGradient { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        img {
            height: 200px;
            margin-top: -67px;
            margin-bottom: -67px;
        }
    }
    .planer-nav {
        li {
            display: inline-block;
            color: oldlace;
            padding: 10px;
            font-size: 12pt;
        }
    }
    .para-three {
        background: url('./components/Planes/orgmap.png');
        background-attachment: fixed;
        background-size: cover;
        padding: 7vh 7vw;
        .plane-explination {
            background: rgba(255,255,255,0.75);
            color: black;
            padding: 15px;
            max-width: 50vw;
            border-radius: 5px;
            margin: auto;
        }
        .plane-map {
            padding-top: 20px;
            width: 100%;
            img {
                max-width: 100%;
            }
        }
    }
    .para-four {
        background:url('./components/Planes/texture.png');
        background-size: 17vh;
        height: 7vh;
        padding: 9vh 0;
        color: #42ed2f;
        font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
    }
    .planer-block {
        background-color: darkgray;
        .planar-description {
            max-width: 400px;
            margin: auto;
            padding-bottom: 30px;
        }
        .planar-map {
            width: 100%;
            img {
                max-width: 100%;
            }
        }
    }
    h1{
        color: white;
    }
}