.darnassus-container .para-one {
  background: url("./components/Darnassus/darn1.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover; }
  .darnassus-container .para-one h1 {
    width: 50vw;
    padding-top: 500px;
    margin-top: 0; }

.darnassus-container .para-two {
  background: #094190;
  padding: 18px 0;
  color: white;
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
  background: linear-gradient(60deg, #A833A4, #007add, #57712A);
  background-size: 600% 600%;
  -webkit-animation: DarnassusGradient 10s ease infinite;
  animation: DarnassusGradient 10s ease infinite; }

@-webkit-keyframes DarnassusGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes DarnassusGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.darnassus-container .para-three {
  background: url("./components/Darnassus/darnassusmap.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 7vh 7vw; }
  .darnassus-container .para-three h3 {
    font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif; }
  .darnassus-container .para-three .darn-history {
    background: rgba(255, 255, 255, 0.75);
    color: black;
    padding: 15px;
    width: 40vw;
    border-radius: 5px;
    margin-left: auto; }

.darnassus-container .para-four {
  background: url("./components/Darnassus/texture.jpg");
  background-size: 25vh;
  height: 6.5vh;
  padding: 5.9vh 0;
  color: white;
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif; }

.darnassus-container .para-five {
  background: url("./components/Darnassus/darn2.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover; }

.darnassus-container h1 {
  color: white; }

.darkmoon-container {
  color: white; }
  .darkmoon-container .dm-head {
    margin-bottom: 25px; }
    .darkmoon-container .dm-head img {
      width: 100vw; }
    .darkmoon-container .dm-head h1 {
      font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif; }
    .darkmoon-container .dm-head h1,
    .darkmoon-container .dm-head h4 {
      margin: 0;
      color: #CD99E3; }
  .darkmoon-container .dm-history .dm-sign,
  .darkmoon-container .dm-history .signed {
    font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
    font-size: 11pt; }
  .darkmoon-container .dm-history .dm-info-container {
    background: url("./components/Darnassus/dmfair.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 7vh 7vw;
    text-align: left; }
    .darkmoon-container .dm-history .dm-info-container .dm-info {
      background: rgba(0, 0, 0, 0.75);
      padding: 15px;
      width: 30vw;
      border-radius: 5px; }
  .darkmoon-container .silas {
    text-align: left;
    height: 30vh;
    border-top: 12px solid #51307C;
    border-bottom: 12px solid #51307C; }
    .darkmoon-container .silas img {
      float: left;
      height: 30vh; }
    .darkmoon-container .silas p {
      margin: 0; }
    .darkmoon-container .silas .silas-text {
      padding: 4%;
      padding-left: 53vh; }
  .darkmoon-container .parallax-three {
    background: url("./components/Darnassus/Darmoonride.jpg");
    background-attachment: fixed;
    height: 100vh;
    background-size: cover; }
    .darkmoon-container .parallax-three h1 {
      font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif; }
  .darkmoon-container .darkmoon-nav {
    position: fixed;
    bottom: 0px;
    left: calc(50% - 117px);
    z-index: 10; }
    .darkmoon-container .darkmoon-nav ul {
      list-style: none;
      margin: 0;
      width: auto;
      padding: 5px;
      background: rgba(0, 0, 0, 0.75);
      border-radius: 5px; }
    .darkmoon-container .darkmoon-nav li {
      margin: 5px;
      display: inline-block;
      height: 64px; }
    .darkmoon-container .darkmoon-nav p {
      margin: 0;
      padding: 0;
      color: white;
      text-decoration: none;
      font-weight: lighter;
      font-size: 12px; }

.interests {
  width: 50vw;
  padding: 40px;
  color: white; }
